* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.title{
        text-align: center; 
        background-color: yellow; 
        margin: 0; 
        padding: 10px;
    }

body {
        background-color: black;
    }

.calButton {
        width: 60px;
        height: 60px;
        font-size: 20px;
        background-color: rgb(51, 51, 51);
        color: white;
        border: none;
        border-radius: 50px;
        margin: 5px;  
        cursor: pointer;
    }

.clearButton {
        width: 60px;
        height: 60px;
        font-size: 15px;
        background-color: rgb(51, 51, 51);
        color: white;
        border: none;
        border-radius: 50px;
        margin: 5px;  
        cursor: pointer;
    }

.calButtonSym {
        width: 60px;
        height: 60px;
        font-size: 20px;
        background-color: rgb(254, 160, 10);
        color: white;
        border: none;
        border-radius: 50px;
        margin: 5px; 
        cursor: pointer;           
    }

.calculation {
        color: white;
        font-size: 45px;
        margin-top: 15px;
        margin-bottom: 5px;
    }